@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, Montserrat, sans-serif;
  }
}

@layer components {
  .news-card {
    @apply bg-white rounded-news-card shadow-news-card border border-gray-200 p-4 transition-shadow duration-300 hover:shadow-news-card-hover;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}